---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$heading-font-family: "Montserrat", Helvetica, Arial, sans-serif;
$base-font-family: "Linden Hill", Times, serif;
$affiliation-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     40px;
$heading-height: 450px;

$text-color:       #111;
$background-color: rgb(250, 250, 250); //rgb(151, 128, 151);
$transparent-background-color: rgba(250, 250, 250, 0.9);
$brand-color:      #3384ab;
$wrapper-background: $background-color;// rgb(250, 250, 250);
$heading-color: #ce4200;// rgb(138, 124, 0);

$grey-color:       rgb(116, 116, 116);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        1000px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
