<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!--<li>{{ site.title }}</li>-->
          <li>Contact the organizers at <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

    <div class="footer-col footer-col-2">
        <!--<ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>-->
      </div>

      <div class="footer-col footer-col-3">
        <p>Header Image by <a href="https://pixabay.com/users/cocozi-328623/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=568105">Coco Zinva</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=568105">Pixabay</a>
        </p>
      </div>
    </div>

  </div>

</footer>
